@import "_vars";
@import "_keyframes";
.wrapper-adaptive-page{
  font-size: 14px;
}

.header-adaptive {
  height: 60px;
  width: 100%;
  position: fixed;
  max-width: $max-width-site;
  //background-color: #ffffff;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

.logo-adaptive,
.to-card-btn {
  display: flex;
  align-items: center;
  width: 70px;
  height: 100%;
  background-color: #222222;
  align-self: center;
  padding: 18px;
  box-sizing: border-box;
  transition: all 2s;
  img {
    width: 100%;
    height: auto;
    transition: all 2s;
    &:hover{
      transform: scale(0.8);
      opacity: 0.6;
    }
  }

}
.brand-banner-adaptive {
  width: 100%;
  height: 750px;
  display: flex;
  margin-bottom: 96px;
}
.btn-search-adaptive,
.menu-hamburger-btn,
.enter-profile-btn {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s;

  &:hover {
    transform: scale(0.8);
    opacity: 0.6;

  }

}
.brand-banner-adaptive{
  width: 100%;
  max-width: $max-width-site;
  margin: 0 auto 94px;
  display: flex;
  justify-content: space-around;
  height: 100%;
  max-height: 740px;
  min-height: 400px;
}
.left-banner,
.right-banner{
  width: 50%;

}
.left-banner{
  img{
    width: 100%;
    height: auto;
  }
}
.right-banner{
  background-color: #f1e4e6;
  display: flex;
  justify-content: center;
  align-items: center;
}
.brand-text-adaptive{
  max-width: 100%;
  float: none;
  margin-top:0;

}
.offers-wrap-adaptive{

}
.offers-adaptive{
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  margin-bottom: 2.14rem;
}
.block-ind{
  display: flex;
  align-items: center;
  justify-content: center;
}
.block-min{
  width: 32%;
  max-height: 250px;
  height: 100%;
  min-height: 180px;

}
.block-bigger{
  width: 100%;
  max-height: 250px;
  height: 100%;
  min-height: 180px;
}
.label-text-wrap{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-transform: uppercase;
  .label-text{
    width: 100%;
    display: block;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
  }
  .pink{
    font-size: 30px;
  }

}
.adaptive-sale-wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 20px 0 0 0;
  color: #fff;
  margin-bottom: 0;
  flex-direction: column;
}
.product-sale-item {
  display: flex;
  max-width: 310px;
  position: relative;
  text-align: center;
  align-items: center;
  padding: 37px 0;
}
@media only screen and (min-width: 320px) and (max-width: 469px){
  .nav-wrap{
    display: none;
  }
  .header-adaptive{
    background-color: #ffffff;
  }
  .search-panel-wrap{
    padding: 20px 0;
    justify-content: center;
    width: 100%;
  }
  .brand-banner-adaptive {
    height: 56vh;
    min-height: 300px;
    margin-bottom: 26px;
  }
  .brand-text-first {
    font-size: 50px;
    line-height: 40px;
    margin-bottom: 16px;
  }
  .brand-text-second {
    font-size: 30px;
    line-height: 29px;
  }
  .offers-wrap-adaptive{
    margin-bottom: 30px;
  }
  .offers-adaptive {
    flex-wrap: wrap;
    margin-bottom: 0;
  }
  .block-ind{
    width: 100%;
    max-height: 250px;
    height: 100%;
    min-height: 180px;
    margin-bottom: 20px;
  }

  .head-desc {
    margin-bottom: 20px;
  }
  .shop-wrap {
    margin-bottom: 0;
  }
  .shop-item {
    width: 90%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(53, 53, 53, 0.6);
    text-align: center;
  }

  .head-card-wrap{
    display: block;
  }
  .company-wrap,
  .info-wrap,
  .category-wrap{
    display: none;
  }
  .subscribe {
    height: 66vh;
    margin-bottom: 0;
  }
  .reviews {
    height: 65vh;
    flex-wrap: wrap;
  }
  .copyright{
    display: none;
  }
  .social-wrap {
    justify-content: center;
    width: 100%;
  }
  .footer-wrap {
    padding: 25px 0;
    margin-bottom: 20px;
  }


}

@media only screen and (max-width: 600px) {
  .wrapper-adaptive-page{
    font-size: 10px;
  }
  .product-black-section {
    padding: 30px 0;
  }
  .product-sale-wrap{
    flex-direction: column;
    padding: 0;
    height: 56vh;
  }
  .product-sale-item:first-child:before {
    top: -30px;
    height: 31px;
  }
  .product-sale-item:nth-child(2):before {
    top: -36px;
    height: 37px;
  }
  .product-sale-item:nth-child(3):before {
    top: -36px;
    height: 37px;
  }
  .foot-head {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0;
  }
  .company-wrap,
  .info-wrap,
  .category-wrap{
    text-align: center;
  }
  .subscribe-block{
    padding-top: 0;
  }
  .subscribe-text-span {
    margin-bottom: 14px;
  }


  }
@media only screen and (max-width: 800px) {
  .left-banner{
    display: none;
  }
  .right-banner {
    width: 100%;
  }
}
@media only screen and (min-width: 802px) and (max-width: 1025px) {
  .subscribe{
    height: 28vh;
  }
  .reviews{
    height: 28vh;
  }
}
