@charset "UTF-8";
.checkout-forms-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px; }

.checkout-form {
  font-family: "Lato", sans-serif; }
  .checkout-form-link {
    display: inline-block;
    width: 100%;
    color: #b3b2b2;
    font-size: 13px;
    text-decoration: none;
    -webkit-transition: 0.5s;
    transition: 0.5s; }
  .checkout-form-link:first-of-type {
    margin-top: 30px; }
  .checkout-form-link:last-of-type {
    margin-bottom: 40px; }

.form-check-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }
  .form-check-wrap-label {
    text-transform: uppercase;
    color: #222222;
    font-size: 12px;
    margin-bottom: 0; }
  .form-check-wrap-input-radio {
    color: #222222;
    margin-right: 10px; }

.checks-block {
  padding: 30px 0; }

.form-head {
  font-size: 13px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 0; }

.form-label {
  color: #b3b2b2;
  font-size: 13px; }

.email-label,
.pass-label {
  display: inline-block;
  width: 100%;
  font-size: 12px;
  text-transform: uppercase;
  color: #222222; }
  .email-label em,
  .pass-label em {
    color: red; }

.email-input,
.pass-input {
  width: 100%;
  max-width: 380px;
  height: 44px;
  padding: 0 10px 0 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #b1b1b1;
  margin-bottom: 20px; }

.requared-text {
  color: red;
  margin-bottom: 44px; }

.checkout-form-btn, .login-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 176px;
  height: 45px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  text-transform: uppercase;
  color: #222222;
  font-weight: bold;
  border: 1px solid #b1b1b1;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s;
  cursor: pointer; }
  .checkout-form-btn:hover, .login-btn:hover {
    color: #f16d7f;
    border-color: #f16d7f; }

.flex-wrap-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.forgot-pass-link {
  margin-left: 30px;
  color: #222222;
  -webkit-transition: color 0.3s 0.3s;
  transition: color 0.3s 0.3s; }
  .forgot-pass-link:hover {
    color: #f16d7f; }

.btn-link {
  color: #222222;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: color 0.3s 0.3s;
  transition: color 0.3s 0.3s; }
  .btn-link:hover {
    color: #f16d7f;
    text-decoration: none; }

.card-header-custom {
  background-color: transparent;
  border-bottom: none; }

@-webkit-keyframes add-to-card {
  0% {
    left: -100px;
    opacity: 1; }
  50% {
    left: 20px; }
  75% {
    left: 46px; }
  100% {
    left: 66px; } }

@-webkit-keyframes logo-wrap {
  0% {
    margin-left: -30%; }
  50% {
    margin-left: 2%; }
  100% {
    margin-left: 0; } }

@keyframes logo-wrap {
  0% {
    margin-left: -30%; }
  50% {
    margin-left: 2%; }
  100% {
    margin-left: 0; } }

@-webkit-keyframes nav-wrap {
  0% {
    right: -30%; }
  50% {
    right: -15%; }
  75% {
    right: -10%; }
  100% {
    right: 0%; } }

@keyframes nav-wrap {
  0% {
    right: -30%; }
  50% {
    right: -15%; }
  75% {
    right: -10%; }
  100% {
    right: 0%; } }

.nav-wrap {
  -webkit-animation: nav-wrap  1s linear both;
          animation: nav-wrap  1s linear both; }

.logo-wrap {
  -webkit-animation: logo-wrap 1.5s ease-out both;
          animation: logo-wrap 1.5s ease-out both; }

.slider {
  position: relative;
  overflow: hidden; }

.slider__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: -webkit-transform 0.6s ease;
  transition: -webkit-transform 0.6s ease;
  transition: transform 0.6s ease;
  transition: transform 0.6s ease, -webkit-transform 0.6s ease; }

.slider__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 100%;
          flex: 0 0 100%;
  max-width: 100%; }

.slider__img {
  height: 500px;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat; }

.slider__control {
  position: absolute;
  top: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40px;
  color: #fff;
  text-align: center;
  opacity: 0.5;
  height: 50px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.2); }

.slider__control:hover,
.slider__control:focus {
  color: #fff;
  text-decoration: none;
  outline: 0;
  opacity: .8; }

.slider__control_left {
  left: 24%; }

.slider__control_right {
  right: 24%; }

.slider__control::before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  background: transparent no-repeat center center;
  background-size: 100% 100%; }

.slider__control_left::before {
  background-image: url("../img/arrPrew.svg"); }

.slider__control_right::before {
  background-image: url("../img/arrNext.svg"); }

* {
  margin: 0;
  padding: 0;
  font-family: 'Lato', sans-serif;
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

body, html {
  height: 100%;
  font-family: 'Lato', sans-serif; }

.hide {
  display: none; }

.page-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
  min-width: 1250px; }

.to-bottom-footer {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  min-height: 100%; }

a {
  text-decoration: none; }

a:hover {
  text-decoration: none;
  color: inherit; }

.clearfix:after {
  content: "";
  clear: both;
  display: table; }

.container {
  max-width: 1140px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.pink {
  color: #f16d7f; }

.user-rating {
  direction: rtl;
  font-size: 14px;
  unicode-bidi: bidi-override;
  padding: 0 0 10px 14px;
  display: inline-block; }
  .user-rating input {
    opacity: 0;
    position: relative;
    left: -15px;
    z-index: 2;
    cursor: pointer; }
  .user-rating span.star:before {
    color: #777777;
    content: "ï€†"; }
  .user-rating span.star {
    display: inline-block;
    font-family: 'FontAwesome', sans-serif;
    font-style: normal;
    font-weight: normal;
    position: relative;
    z-index: 1; }
  .user-rating span {
    margin-left: -15px; }
  .user-rating span.star:before {
    color: #777777;
    content: "\f006";
    -webkit-transition: color 0.3s 0.3s;
    transition: color 0.3s 0.3s; }
  .user-rating input:hover + span.star:before,
  .user-rating input:hover + span.star ~ span.star:before,
  .user-rating input:checked + span.star:before,
  .user-rating input:checked + span.star ~ span.star:before {
    color: #ffd100;
    content: "\f005"; }
  .user-rating .selected-rating {
    color: #ffd100;
    font-weight: bold;
    font-size: 3em; }

.same-style {
  background-color: #f16d7f;
  color: #fff; }

.header-custom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0 20px; }

.left-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.right-head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.head-card-wrap {
  position: relative; }

.card-wrap-btn {
  display: block;
  width: 30px;
  height: 30px;
  -webkit-transition: -webkit-transform 1s 1s;
  transition: -webkit-transform 1s 1s;
  transition: transform 1s 1s;
  transition: transform 1s 1s, -webkit-transform 1s 1s; }
  .card-wrap-btn:hover {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg); }

.head-card-wrap:hover .card-drop {
  visibility: visible; }

.head-card-wrap .card-drop {
  display: block;
  visibility: visible;
  width: 250px;
  top: 32px; }

.card-drop .drop-flex-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
  border-bottom: 1px solid #e8e8e8; }

.card-drop .sum {
  color: #f16d7f;
  font-size: 12px; }
  .card-drop .sum .sum-count {
    margin-right: 10px; }

.card-drop .drop-img {
  width: 70px;
  height: 84px;
  margin-right: 14px;
  background-position: center;
  background-size: cover; }

.card-drop .head-drop-desc {
  font-family: 'Lato Bold', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: bold; }

.card-drop .drop-btn-delete {
  display: block;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .card-drop .drop-btn-delete i {
    color: #656565;
    -webkit-transition: -webkit-transform 0.3s;
    transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    transition: transform 0.3s, -webkit-transform 0.3s; }

.card-drop .drop-btn-delete i:hover {
  color: #ef5b70; }

.card-drop .total-sum-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 250px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #222222;
  font-weight: bold;
  font-family: "Lato Bold", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  padding: 20px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.card-drop .checkout,
.card-drop .go-to-card-btn {
  display: inline-block;
  width: 100%;
  height: 46px;
  border: 1px solid;
  margin-bottom: 20px;
  text-align: center;
  line-height: 46px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: "Lato Bold", sans-serif; }

.card-drop .go-to-card-btn {
  color: #4a4a4a;
  border-color: #ececec;
  -webkit-transition: color 0.5s 0.5s;
  transition: color 0.5s 0.5s; }
  .card-drop .go-to-card-btn:hover {
    color: #f16d7f;
    border-color: #f16d7f; }

.card-drop .checkout {
  color: #f16d7f;
  border-color: #f16d7f;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s; }
  .card-drop .checkout:hover {
    color: #4a4a4a;
    border-color: #ececec; }

.card-wrap-btn:hover {
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.logo-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-right: 40px;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s; }
  .logo-wrap img {
    margin-right: 10px;
    height: 50px; }

.logo-wrap:hover {
  opacity: 0.6; }

.logo-text {
  color: #222222;
  font-size: 27px;
  line-height: 50px;
  text-transform: uppercase;
  margin-bottom: 0; }

.search-panel-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.browse-btn-wrap {
  position: relative; }

.browse-btn-wrap .browse-drop {
  display: none;
  width: 263px;
  background-color: #ffffff;
  z-index: 1;
  left: -20px; }

.browse-btn-wrap .browse-drop:before {
  left: 83px; }

.browse-btn {
  position: relative;
  display: inline-block;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  background-color: #ececec;
  padding: 0 8px; }
  .browse-btn span {
    font-size: 14px;
    line-height: 38px;
    vertical-align: middle;
    color: #78787d;
    margin-right: 10px; }
  .browse-btn i {
    color: #78787d; }

.browse-btn:hover {
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.browse-btn-wrap:hover .browse-drop {
  display: block; }

.search-wrap {
  position: relative; }

.input-search {
  width: 300px;
  height: 40px;
  position: relative;
  border: 1px solid #e6e6e6;
  border-left: none;
  border-radius: 0 3px 3px 0;
  background-color: #ffffff;
  padding-left: 16px;
  padding-right: 50px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.input-search:focus {
  outline-offset: 0;
  outline: none; }

.btn-search {
  display: inline-block;
  width: 36px;
  height: 38px;
  position: absolute;
  right: 0;
  top: 0;
  text-align: center;
  vertical-align: middle;
  line-height: 36px;
  background-color: #fff;
  border: 1px solid #e6e6e6; }
  .btn-search i {
    color: #222; }

.btn-search:hover {
  opacity: 0.6;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.account-btn {
  display: inline-block;
  font-size: 15px;
  padding: 0 12px;
  line-height: 38px;
  margin-left: 26px;
  -webkit-transition: 0.4s 0.4s;
  transition: 0.4s 0.4s; }
  .account-btn i {
    line-height: 34px;
    vertical-align: top; }
  .account-btn span {
    margin-right: 10px; }

.account-btn:hover {
  opacity: 0.6;
  color: #fff; }

.nav-wrap {
  max-width: 680px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  list-style: none;
  position: relative; }

.nav-item {
  position: relative; }
  .nav-item .nav-link {
    display: block;
    color: #222222;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 16px 0;
    -webkit-transition: color 0.4s 0.4s;
    transition: color 0.4s 0.4s; }
  .nav-item .nav-link:hover {
    color: #f16d7f; }

.nav-item:hover .drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.drop {
  display: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: absolute;
  top: 45px;
  left: -40px;
  font-family: 'Lato', sans-serif;
  padding: 20px;
  border-radius: 5px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  z-index: 2; }
  .drop .drop-flex {
    width: 235px;
    margin-right: 46px; }
  .drop .drop-flex:last-of-type {
    margin-right: 0; }
  .drop .drop-head {
    color: #232323;
    font-size: 14px;
    font-weight: 400;
    line-height: 32px;
    text-transform: uppercase;
    letter-spacing: 0.35px;
    border-bottom: 1px solid #e8e8e8;
    padding-bottom: 8px; }
  .drop .drop-list {
    list-style-type: none; }
  .drop .drop-link {
    display: block;
    width: 100%;
    color: #4f4f4f;
    font-size: 14px;
    font-weight: 400;
    line-height: 28px;
    letter-spacing: 0.35px; }
  .drop .drop-link:hover {
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #ef5b70; }
  .drop .hot-sale-img {
    display: inline-block;
    width: 235px;
    height: 116px;
    background-image: url("../img/promo.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain; }

.drop:before {
  content: "";
  display: block;
  width: 14px;
  height: 14px;
  background-color: #fff;
  position: absolute;
  top: -7px;
  left: 50px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  border-top: 1px solid #e8e8e8;
  border-left: 1px solid #e8e8e8; }

.kids-drop {
  left: -300px; }

.kids-drop:before {
  left: 310px; }

.accoseriese-drop {
  left: -360px; }

.accoseriese-drop:before {
  left: 396px; }

.featured-drop {
  left: -490px; }

.featured-drop:before {
  left: 518px; }

.hot-deals-drop {
  left: -550px; }

.hot-deals-drop:before {
  left: 576px; }

.brand-banner-wrap {
  width: 100%;
  background-color: #e8e8e8; }

.brand-banner-img {
  width: 100%;
  height: 100vh;
  max-height: 610px;
  background-image: url(../img/main_bg.jpg);
  background-position-y: bottom;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.brand-text-wrap {
  padding-left: 20px;
  border-left: 12px solid #f16d7f;
  -webkit-transition: margin-left 1s;
  transition: margin-left 1s; }

.brand-text-wrap:hover {
  margin-left: 200px; }

.brand-text-first {
  font-size: 60px;
  font-family: 'lato black', sans-serif;
  line-height: 45px;
  margin-bottom: 14px; }

.brand-text-second {
  font-size: 39px;
  font-family: 'lato black', sans-serif;
  line-height: 36px; }

.block-index {
  position: relative;
  width: inherit;
  height: inherit;
  -webkit-transition: -webkit-transform 0.5s ease-out;
  transition: -webkit-transform 0.5s ease-out;
  transition: transform 0.5s ease-out;
  transition: transform 0.5s ease-out, -webkit-transform 0.5s ease-out; }

.block-index:hover {
  -webkit-transform: scale(1.03);
          transform: scale(1.03); }

.block-index:hover {
  -webkit-box-shadow: 0px 4px 33px 5px #3b383b;
          box-shadow: 0px 4px 33px 5px #3b383b; }

.block-index::before {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.block-index::after {
  -webkit-box-sizing: content-box;
          box-sizing: content-box; }

.block-big {
  max-width: 560px;
  height: 542px;
  background-size: contain;
  background-position: center;
  overflow: hidden; }

.block-big:first-of-type {
  margin-right: 20px; }

.block-mini {
  max-width: 560px;
  height: 261px;
  overflow: hidden; }

.block-mini.mr-r {
  margin-right: 20px; }

.offers {
  padding: 98px 0 98px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 823px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.label {
  position: absolute;
  top: 24px;
  display: block;
  background-color: #fff;
  padding: 15px 20px;
  font-size: 18px;
  font-family: 'lato black', sans-serif;
  text-transform: uppercase; }
  .label .label-text {
    display: block;
    width: 100%;
    color: #222;
    font-size: 18px;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 0.45px; }
  .label .pink {
    display: block;
    width: 100%;
    font-size: 27px;
    font-family: 'lato black', sans-serif; }

.shop-wrap {
  text-align: center;
  padding-bottom: 40px; }

.shop-head {
  color: #222222;
  font-size: 30px;
  font-weight: 700; }

.head-desc {
  color: #9f9f9f;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 60px; }

.shop-item-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 30px; }

.shop-item {
  width: 262px;
  position: relative;
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 40px;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s; }

.add-to-card {
  display: none;
  position: absolute;
  width: 130px;
  height: 38px;
  border: 1px solid #fff;
  background: url(../img/hover-card.png) no-repeat 13px 6px;
  top: 34%;
  left: 66px;
  text-align: right;
  line-height: 38px;
  padding: 0 14px;
  color: #fff;
  font-size: 13px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 0.3s 0.3s;
  transition: all 0.3s 0.3s; }

.shop-item:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  -webkit-transform: scale(1.05);
          transform: scale(1.05); }

.shop-item-link {
  display: block;
  height: 280px;
  width: 100%;
  background-position: center;
  background-size: cover;
  margin-bottom: 14px;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.shop-item:hover .add-to-card {
  display: block;
  text-decoration: none;
  color: #fff;
  -webkit-animation: add-to-card 0.3s linear;
          animation: add-to-card 0.3s linear;
  -webkit-box-shadow: 0 0 5px #fff;
          box-shadow: 0 0 5px #fff; }

.shop-item:hover .shop-item-link {
  -webkit-filter: brightness(50%);
          filter: brightness(50%); }

.item-brand {
  display: block;
  padding-left: 14px;
  padding-bottom: 12px;
  color: #222222;
  font-size: 13px;
  font-weight: 400;
  text-transform: uppercase;
  -webkit-transition: color 0.3s 0.3s;
  transition: color 0.3s 0.3s; }
  .item-brand:hover {
    color: #f16d7f; }

.item-price {
  padding-left: 14px;
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase; }

.see-more-btn {
  font-size: 16px;
  font-weight: 700;
  padding: 0 10px;
  display: inline-block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 40px;
  line-height: 40px;
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s; }
  .see-more-btn:hover {
    opacity: 0.5;
    color: #fff; }
  .see-more-btn span {
    margin-right: 10px; }

.black-section-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 100px; }

.black-section-left {
  width: 67%;
  height: 529px;
  background: url("../img/future_banner.jpg") no-repeat;
  background-size: cover; }

.heading-wrap {
  margin-top: 130px;
  padding-left: 40px; }

.bigger-head {
  color: #ffffff;
  font-size: 54px;
  font-weight: 700;
  text-transform: uppercase; }

.smaller-head {
  color: #fff;
  text-transform: uppercase;
  font-size: 33px; }

.black-section-right {
  width: 33%;
  height: 529px;
  background-color: #222224;
  color: #fff; }

.desc-sale-wrap {
  list-style: none;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: auto; }

.desc-sale-wrap:first-child {
  padding-top: 40px; }

.desc-sale-item:first-child:before {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/car_icon.png") no-repeat center; }

.desc-sale-item:nth-child(2):before {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/percent_icon.png") no-repeat center; }

.desc-sale-item:nth-child(3):before {
  content: " ";
  display: block;
  width: 50px;
  height: 50px;
  background: url("../img/crown_icon.png") no-repeat center; }

.desc-sale-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding: 20px; }

.head-text {
  color: #fbfbfb;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px; }

.desc-wrap {
  width: 220px;
  font-size: 14px;
  color: #fbfbfb;
  line-height: 24px; }

.desc-text {
  color: #fbfbfb;
  font-size: 14px;
  font-weight: 300;
  line-height: 24px; }

.subscribe {
  margin: 60px auto;
  width: 100%;
  background: url(../img/bg_block.jpg) no-repeat;
  background-size: cover;
  height: 70vh;
  max-height: 500px; }

.reviews {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  height: 70vh;
  max-height: 400px; }

.review-block {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.avatar-wrap {
  float: left;
  max-width: 110px;
  margin-right: 30px; }

.review-text-desc {
  float: left;
  max-width: 400px; }

.review-text {
  color: #222224;
  font-size: 16px;
  font-style: italic;
  line-height: 26px;
  margin-bottom: 10px; }

.review-author {
  color: #f16d7f;
  font-size: 16px;
  font-weight: 700;
  font-weight: 700;
  letter-spacing: 0.4px; }

.review-author-city {
  color: #222224;
  font-size: 12px;
  font-weight: 300;
  letter-spacing: 0.3px; }

.subscribe-block {
  width: 100%;
  text-align: center;
  padding-top: 24px; }

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.subscribe-input {
  max-width: 250px;
  width: 100%;
  height: 46px;
  border: none;
  border-top-left-radius: 23px;
  border-bottom-left-radius: 23px;
  background-color: #e1e1e1;
  font-size: 14px;
  padding: 0 15px; }

.subscribe-input:focus {
  outline-offset: 0;
  outline: none; }

.subscribe-btn {
  display: inline-block;
  height: 46px;
  border-radius: 0 23px 23px 0;
  padding: 0 12px;
  vertical-align: middle;
  line-height: 46px;
  -webkit-transition: opacity 0.3s 0.3s;
  transition: opacity 0.3s 0.3s; }
  .subscribe-btn:hover {
    opacity: 0.6;
    color: #ffffff; }

.subscribe-text-title {
  font-size: 24px;
  text-transform: uppercase;
  margin-bottom: 6px; }

.subscribe-text-span {
  color: #222224;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 40px; }

.block-text {
  color: #898989;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 0.35px; }

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #898989;
  padding: 50px 0;
  margin-bottom: 36px; }

.foot-text-wrap {
  max-width: 430px; }

.foot-text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  margin-top: 10px; }

.foot-list {
  list-style: none;
  padding: 0; }

.foot-head {
  color: #f16d7f;
  font-size: 18px;
  font-weight: 700;
  line-height: 32px;
  text-transform: uppercase;
  margin-bottom: 20px; }

.foot-item-link {
  display: block;
  width: 100%;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  color: #898989;
  -webkit-transition: color 0.4s 0.4s;
  transition: color 0.4s 0.4s; }

.foot-item-link:hover {
  color: #f16d7f; }

.bottom-foot-wrap {
  background-color: #e6e6e6; }

.bottom-foot-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

.social-wrap {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 0; }

.social-link {
  display: block;
  background-color: #e6e6e6;
  width: 27px;
  height: 29px;
  margin-right: 10px; }
  .social-link i {
    display: block;
    color: #f16d7f;
    font-size: 32px;
    -webkit-transition: color 0.2s 0.2s;
    transition: color 0.2s 0.2s; }
  .social-link i:hover {
    color: #858585; }

.copyright {
  color: #7a7a7a;
  font-size: 16px;
  font-weight: 400;
  line-height: 42px;
  margin-bottom: 0; }

/*********************************************  PRODUCT_PAGE  ********************************/
.breadcrambs-bg {
  width: 100%;
  background-color: #f8f3f4; }

.breadcrumbs-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 50px 0; }

.product-head {
  color: #f16d7f;
  font-family: "Lato Black", sans-serif;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.breadcrambs {
  list-style: none; }

.breadcrambs-item {
  display: inline-block;
  font-family: 'Lato', sans-serif; }
  .breadcrambs-item a {
    text-decoration: none;
    font-size: 14px;
    line-height: 20px;
    text-transform: uppercase;
    color: #636363;
    font-weight: 300;
    font-family: 'Lato Light', sans-serif; }
  .breadcrambs-item a:hover {
    opacity: 0.6;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.breadcrambs-item:after {
  content: '/'; }

.breadcrambs-item:last-child a {
  color: #f16d7f; }

.breadcrambs-item:last-child:after {
  content: ''; }

.left-aside {
  width: 245px;
  min-height: 1600px;
  float: left;
  margin-right: 46px;
  padding-top: 50px; }

.category-btn {
  width: 245px;
  position: relative;
  display: block;
  cursor: pointer;
  text-align: left;
  background: transparent;
  color: #ef5b70;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 36px;
  text-transform: uppercase;
  border: none;
  border-left: 5px solid #f16d7f;
  padding-left: 10px;
  margin-bottom: 20px; }

.category-btn:focus {
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none; }

.category-btn:hover {
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #ef5b70; }

.category-btn::after {
  position: absolute;
  right: 10px;
  top: 15px;
  border-top: .4em solid;
  border-right: .4em solid transparent;
  border-left: .4em solid transparent; }

.category-list {
  width: 100%;
  padding-left: 20px;
  border: none;
  list-style: none; }

.category-item {
  padding-left: 20px; }
  .category-item .category-link {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
    text-decoration: none; }

.category-item:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16);
          box-shadow: 0 5px 8px rgba(0, 0, 0, 0.16); }

.category-item:hover .category-link {
  text-decoration: none;
  color: #ef5b70; }

.form-filters-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 34px;
  padding-top: 50px; }
  .form-filters-wrap legend {
    text-transform: uppercase;
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px; }
  .form-filters-wrap .bor {
    border-left: 2px solid #f3f3f3;
    border-right: 2px solid #f3f3f3; }
  .form-filters-wrap label {
    cursor: pointer; }
  .form-filters-wrap label:hover {
    color: #ef5b70;
    -webkit-transition: 0.3s;
    transition: 0.3s; }

.trend-head {
  margin-left: 7px; }

.trends-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 176px; }
  .trends-list label {
    color: #6f6e6e;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    padding: 0 7px; }
  .trends-list .trends-checkbox {
    display: none; }

.size-checkbox-wrap {
  max-width: 238px;
  color: #6f6e6e;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap; }
  .size-checkbox-wrap .wrap-line {
    display: inline-block;
    position: relative;
    margin-bottom: 0; }
  .size-checkbox-wrap label {
    font-size: 14px;
    position: relative;
    display: block;
    line-height: 16px;
    margin-right: 30px; }
  .size-checkbox-wrap .checkbox-size {
    width: 14px;
    height: 14px;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0; }
  .size-checkbox-wrap .checkbox-size + label:before {
    content: "";
    width: 14px;
    height: 14px;
    background-color: #f3f3f3;
    left: -18px;
    position: absolute;
    top: 0; }
  .size-checkbox-wrap .checkbox-size + label:after {
    content: " ";
    opacity: 0;
    display: block;
    height: 14px;
    width: 14px;
    background: #f16d7f url("../img/check.png") no-repeat center center;
    background-size: 11px 11px;
    position: absolute;
    left: -18px;
    top: 0;
    -webkit-transition: opacity 0.2s ease-in-out;
    transition: opacity 0.2s ease-in-out; }
  .size-checkbox-wrap .checkbox-size:checked + label:after {
    opacity: 1; }

.size-filter-head {
  margin-left: -18px; }

.price-wrap-filter input {
  width: 262px;
  height: 6px;
  border-radius: 3px;
  background-color: #f0f0f0; }

.price-wrap-filter .price-range-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.sort-form {
  background-color: #f3f3f3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding-left: 10px;
  font-size: 14px;
  color: #6f6e6e;
  margin-bottom: 50px; }
  .sort-form select {
    background-color: #f3f3f3;
    height: 26px;
    border: none;
    color: #6f6e6e;
    cursor: pointer; }
  .sort-form select:focus {
    outline: none; }

.sort-brands {
  width: 154px;
  border: 1px solid #c1c1c1;
  height: 30px;
  display: inline-block;
  vertical-align: middle;
  line-height: 30px;
  padding-left: 12px;
  margin-right: 16px; }
  .sort-brands label {
    margin-right: 20px; }

.sort-counts {
  width: 120px;
  height: 30px;
  border: 1px solid #c1c1c1;
  padding-left: 12px;
  line-height: 30px;
  vertical-align: middle; }
  .sort-counts label {
    margin-right: 24px; }

.pag-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }

.custom-pag .page-item .active {
  color: #ef5b70; }

.custom-pag .page-link {
  display: inline-block;
  width: 30px;
  color: #c4c4c4;
  border: none;
  background-color: #e9ecef;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px; }

.custom-pag .page-link:hover {
  color: #ef5b70;
  background-color: #fff;
  -webkit-transition: 1s;
  transition: 1s; }

.custom-pag .page-link:focus {
  -webkit-box-shadow: 0 0 0 0.2rem #e9ecef;
          box-shadow: 0 0 0 0.2rem #e9ecef;
  background-color: #fff; }

.custom-pag:focus,
.custom-pag:active {
  outline: none; }

.pagination-sm .page-item:last-child .page-link {
  border-radius: 0; }

.pagination-sm .page-item:first-child .page-link {
  border-radius: 0; }

.product-black-section {
  width: 100%;
  background-color: #222224; }

.product-sale-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 320px;
  list-style: none;
  padding: 20px 0 0 0;
  color: #fff;
  margin-bottom: 0; }

.product-sale-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 310px;
  height: 200px;
  margin-top: 20px;
  position: relative;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0; }

.product-sale-item:first-child:before {
  content: " ";
  display: block;
  position: absolute;
  top: -8px;
  left: 44%;
  width: 50px;
  height: 50px;
  background: url("../img/car_icon.png") no-repeat center; }

.product-sale-item:nth-child(2):before {
  content: " ";
  display: block;
  position: absolute;
  top: -8px;
  left: 44%;
  width: 50px;
  height: 50px;
  background: url("../img/percent_icon.png") no-repeat center; }

.product-sale-item:nth-child(3):before {
  content: " ";
  display: block;
  position: absolute;
  top: -8px;
  left: 44%;
  width: 50px;
  height: 50px;
  background: url("../img/crown_icon.png") no-repeat center; }

.product-desc-wrap {
  font-size: 14px;
  color: #fbfbfb;
  line-height: 24px; }

.card {
  border: none; }

.product-table-wrap .product-table-head {
  max-width: 1140px;
  min-height: 122px;
  border-bottom: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }
  .product-table-wrap .product-table-head .unite-price, .product-table-wrap .product-table-head .shipping, .product-table-wrap .product-table-head .quantity-head, .product-table-wrap .product-table-head .subtotal, .product-table-wrap .product-table-head .action {
    width: 150px;
    min-height: 122px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .product-table-wrap .product-table-head .action {
    width: 90px;
    min-height: 122px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding-bottom: 10px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }

.product-table-wrap h2 {
  color: #222222;
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: -0.2px; }

.product-table-wrap .product-details {
  width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding-bottom: 10px; }

.product-table-wrap .unite-price, .product-table-wrap .shipping, .product-table-wrap .quantity, .product-table-wrap .subtotal, .product-table-wrap .action {
  width: 150px;
  min-height: 165px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #656565;
  font-size: 13px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase; }

.product-table-wrap .quantity .quantity-box {
  width: 52px;
  height: 30px;
  border: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 18px; }

.product-table-wrap .action {
  width: 90px;
  min-height: 122px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .product-table-wrap .action i {
    cursor: pointer; }

.product-table-wrap .action:hover i {
  color: #ef5b70;
  -webkit-transition: 0.3s;
  transition: 0.3s; }

.product-table-wrap .product-row {
  min-height: 162px;
  border-bottom: 1px solid #eaeaea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 0 20px 0;
  -webkit-transition: background-color 0.3s 0.3s;
  transition: background-color 0.3s 0.3s; }
  .product-table-wrap .product-row:hover {
    background-color: #f8f7fb; }

.product-table-wrap .product-details-wrap {
  height: 115px;
  max-width: 450px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.product-table-wrap .product-details-img {
  width: 100px;
  height: 115px;
  background-size: contain;
  background-repeat: no-repeat; }

.product-table-wrap .product-name {
  padding-left: 20px;
  font-size: 13px;
  line-height: 20px;
  color: #575757;
  font-weight: 400; }
  .product-table-wrap .product-name .size, .product-table-wrap .product-name .color {
    display: block; }
  .product-table-wrap .product-name h6 a {
    color: #222222;
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding-bottom: 38px; }
  .product-table-wrap .product-name span {
    font-size: 13px;
    line-height: 20px;
    color: #575757;
    font-weight: 300;
    padding-left: 5px; }

.product-btns-wrap {
  padding: 20px 0;
  margin-bottom: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between; }
  .product-btns-wrap .product-btn {
    display: inline-block;
    max-width: 230px;
    width: 100%;
    color: #4a4a4a;
    line-height: 50px;
    border: 1px solid #eaeaea;
    text-transform: uppercase;
    text-align: center;
    -webkit-transition: all 0.3s 0.3s;
    transition: all 0.3s 0.3s; }
  .product-btns-wrap .product-btn:hover {
    color: #f16d7f;
    border-color: #f16d7f; }

.product-delivery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0;
  margin-bottom: 30px; }
  .product-delivery .same-block {
    width: calc(100% / 3);
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin-right: 30px; }
    .product-delivery .same-block .delivery-head,
    .product-delivery .same-block .ground-total-head {
      font-family: 'Lato', sans-serif;
      font-size: 16px;
      font-weight: bold;
      padding-bottom: 20px;
      text-transform: uppercase; }
    .product-delivery .same-block .ground-total-head {
      margin-bottom: 20px;
      border-bottom: 1px solid #dbdbde; }
      .product-delivery .same-block .ground-total-head span {
        color: #f16d7f;
        margin-left: 15px; }
    .product-delivery .same-block select, .product-delivery .same-block input {
      max-width: 360px;
      width: 100%;
      height: 45px;
      color: #b1b1b1;
      padding: 0 10px 0;
      -webkit-box-sizing: border-box;
              box-sizing: border-box;
      margin-bottom: 18px;
      font-size: 18px; }
    .product-delivery .same-block input:focus,
    .product-delivery .same-block select:focus {
      outline: none; }
  .product-delivery .same-block:last-child {
    margin-right: 0; }
  .product-delivery .get-guote-btn,
  .product-delivery .apply-btn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100px;
    height: 30px;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-transform: uppercase;
    color: #4a4a4a;
    font-size: 11px;
    font-weight: bold;
    border: 1px solid #b1b1b1;
    -webkit-transition: all 0.3s 0.3s;
    transition: all 0.3s 0.3s; }
  .product-delivery .get-guote-btn:hover,
  .product-delivery .apply-btn:hover {
    color: #f16d7f;
    border-color: #f16d7f; }
  .product-delivery .ground-total-wrap {
    max-height: 212px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    background-color: #f5f3f3;
    padding: 40px;
    text-align: right;
    text-transform: uppercase; }
    .product-delivery .ground-total-wrap .sub-total {
      margin-bottom: 10px;
      font-size: 11px;
      color: #4a4a4a; }
      .product-delivery .ground-total-wrap .sub-total span {
        margin-left: 15px; }
    .product-delivery .ground-total-wrap .proceed-btn {
      max-width: 268px;
      width: 100%;
      display: inline-block;
      line-height: 50px;
      color: #ffffff;
      background-color: #f16d7f;
      text-transform: uppercase;
      text-align: center;
      font-size: 16px;
      font-weight: bold;
      -webkit-transition: all 0.3s 0.3s;
      transition: all 0.3s 0.3s; }
    .product-delivery .ground-total-wrap .proceed-btn:hover {
      opacity: 0.6; }

.max-bg {
  width: 100%;
  background-color: #f7f7f7; }

.custom-carousel .carousel-control-next-icon, .custom-carousel .carousel-control-prev-icon {
  display: inline-block;
  width: 40px;
  height: 40px;
  background-color: #d8d8d8;
  background-repeat: no-repeat;
  background-size: 50% 50%;
  background-position: center; }

.custom-carousel .carousel-item {
  background-color: #f7f7f7; }

.custom-carousel .carousel-caption {
  bottom: -152px; }
  .custom-carousel .carousel-caption p {
    font-family: 'Lato Black', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    color: #4d4d4d; }
  .custom-carousel .carousel-caption h5 {
    margin-bottom: 30px;
    font-family: 'Lato Bold', sans-serif;
    font-size: 14px;
    text-transform: uppercase;
    color: #f16d7f; }

.custom-carousel .carousel-inner {
  padding-bottom: 142px; }

.custom-carousel .carousel-indicators {
  bottom: 52px; }
  .custom-carousel .carousel-indicators li {
    margin: 0;
    width: 60px; }
  .custom-carousel .carousel-indicators li.active {
    background-color: #f16d7f; }

.img-carousel-wrap {
  height: 60vh;
  width: 100%; }

.features-desc-wrap {
  max-width: 600px;
  text-align: center;
  margin: 20px auto 50px;
  border-bottom: 1px solid #eaeaea; }
  .features-desc-wrap .desc {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    list-style: none;
    margin: 0 auto 20px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .features-desc-wrap .desc li {
      font-family: 'Lato Bold', sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      color: #b9b9b9; }
    .features-desc-wrap .desc li:first-child {
      margin-right: 30px; }
    .features-desc-wrap .desc .material {
      color: #2f2f2f; }
  .features-desc-wrap .desc-text {
    display: block;
    max-width: 615px;
    color: #5e5e5e;
    margin: 20px auto;
    font-family: 'Myriad Pro', sans-serif; }
  .features-desc-wrap .price {
    font-family: 'Lato Bold', sans-serif;
    font-size: 24px;
    color: #ef5b70; }

.single-page-form {
  max-width: 600px;
  margin: 20px auto 90px;
  padding-bottom: 40px;
  border-bottom: 1px solid #eaeaea; }
  .single-page-form .inputs-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin-bottom: 30px; }
  .single-page-form .chose {
    width: calc(100% / 3);
    text-align: center; }
    .single-page-form .chose input {
      max-width: 140px;
      width: 100%;
      height: 34px;
      border: 1px solid #eaeaea;
      padding-left: 20px;
      background-color: #eaeaea;
      color: #bcbcbc; }
    .single-page-form .chose input:focus {
      outline: none; }
    .single-page-form .chose label {
      font-family: 'Lato', sans-serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      text-transform: uppercase;
      color: #2f2f2f; }
  .single-page-form .single-page-btn {
    width: 94%;
    margin: 0 auto;
    height: 55px;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    border: 1px solid #ef5b70;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    color: #ef5b70;
    -webkit-transition: opacity 0.3s 0.3s;
    transition: opacity 0.3s 0.3s; }
    .single-page-form .single-page-btn span {
      position: relative; }
  .single-page-form .single-page-btn span:before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    position: absolute;
    background: url(../img/add-card-pink.png) no-repeat center center;
    background-size: contain;
    left: -36px; }
  .single-page-form .single-page-btn:hover {
    opacity: 0.6; }

.shop-head-single-page {
  color: #4d4d4d;
  font-size: 24px;
  font-weight: 400;
  line-height: 20px;
  text-transform: uppercase;
  margin-bottom: 60px; }

.shop-wrap-single {
  margin-bottom: 0; }

@-webkit-keyframes add-to-card {
  0% {
    left: -100px;
    opacity: 1; }
  50% {
    left: 20px; }
  75% {
    left: 46px; }
  100% {
    left: 66px; } }

@keyframes logo-wrap {
  0% {
    margin-left: -30%; }
  50% {
    margin-left: 2%; }
  100% {
    margin-left: 0; } }

@keyframes nav-wrap {
  0% {
    right: -30%; }
  50% {
    right: -15%; }
  75% {
    right: -10%; }
  100% {
    right: 0%; } }

.nav-wrap {
  -webkit-animation: nav-wrap  1s linear both;
          animation: nav-wrap  1s linear both; }

.logo-wrap {
  -webkit-animation: logo-wrap 1.5s ease-out both;
          animation: logo-wrap 1.5s ease-out both; }

.wrapper-adaptive-page {
  font-size: 14px; }

.header-adaptive {
  height: 60px;
  width: 100%;
  position: fixed;
  max-width: 1600px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 1; }

.logo-adaptive,
.to-card-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 70px;
  height: 100%;
  background-color: #222222;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 18px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all 2s;
  transition: all 2s; }
  .logo-adaptive img,
  .to-card-btn img {
    width: 100%;
    height: auto;
    -webkit-transition: all 2s;
    transition: all 2s; }
    .logo-adaptive img:hover,
    .to-card-btn img:hover {
      -webkit-transform: scale(0.8);
              transform: scale(0.8);
      opacity: 0.6; }

.brand-banner-adaptive {
  width: 100%;
  height: 750px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 96px; }

.btn-search-adaptive,
.menu-hamburger-btn,
.enter-profile-btn {
  width: 70px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 2s;
  transition: all 2s; }
  .btn-search-adaptive:hover,
  .menu-hamburger-btn:hover,
  .enter-profile-btn:hover {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
    opacity: 0.6; }

.brand-banner-adaptive {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto 94px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  height: 100%;
  max-height: 740px;
  min-height: 400px; }

.left-banner,
.right-banner {
  width: 50%; }

.left-banner img {
  width: 100%;
  height: auto; }

.right-banner {
  background-color: #f1e4e6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.brand-text-adaptive {
  max-width: 100%;
  float: none;
  margin-top: 0; }

.offers-adaptive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 2.14rem; }

.block-ind {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.block-min {
  width: 32%;
  max-height: 250px;
  height: 100%;
  min-height: 180px; }

.block-bigger {
  width: 100%;
  max-height: 250px;
  height: 100%;
  min-height: 180px; }

.label-text-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  text-transform: uppercase; }
  .label-text-wrap .label-text {
    width: 100%;
    display: block;
    color: #ffffff;
    font-size: 18px;
    text-align: center; }
  .label-text-wrap .pink {
    font-size: 30px; }

.adaptive-sale-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
  padding: 20px 0 0 0;
  color: #fff;
  margin-bottom: 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column; }

.product-sale-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 310px;
  position: relative;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 37px 0; }

@media only screen and (min-width: 320px) and (max-width: 469px) {
  .nav-wrap {
    display: none; }
  .header-adaptive {
    background-color: #ffffff; }
  .search-panel-wrap {
    padding: 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
  .brand-banner-adaptive {
    height: 56vh;
    min-height: 300px;
    margin-bottom: 26px; }
  .brand-text-first {
    font-size: 50px;
    line-height: 40px;
    margin-bottom: 16px; }
  .brand-text-second {
    font-size: 30px;
    line-height: 29px; }
  .offers-wrap-adaptive {
    margin-bottom: 30px; }
  .offers-adaptive {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-bottom: 0; }
  .block-ind {
    width: 100%;
    max-height: 250px;
    height: 100%;
    min-height: 180px;
    margin-bottom: 20px; }
  .head-desc {
    margin-bottom: 20px; }
  .shop-wrap {
    margin-bottom: 0; }
  .shop-item {
    width: 90%;
    padding-bottom: 10px;
    margin-bottom: 10px;
    border: 1px solid rgba(53, 53, 53, 0.6);
    text-align: center; }
  .head-card-wrap {
    display: block; }
  .company-wrap,
  .info-wrap,
  .category-wrap {
    display: none; }
  .subscribe {
    height: 66vh;
    margin-bottom: 0; }
  .reviews {
    height: 65vh;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .copyright {
    display: none; }
  .social-wrap {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
  .footer-wrap {
    padding: 25px 0;
    margin-bottom: 20px; } }

@media only screen and (max-width: 600px) {
  .wrapper-adaptive-page {
    font-size: 10px; }
  .product-black-section {
    padding: 30px 0; }
  .product-sale-wrap {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
    height: 56vh; }
  .product-sale-item:first-child:before {
    top: -30px;
    height: 31px; }
  .product-sale-item:nth-child(2):before {
    top: -36px;
    height: 37px; }
  .product-sale-item:nth-child(3):before {
    top: -36px;
    height: 37px; }
  .foot-head {
    font-size: 14px;
    line-height: 20px;
    margin-bottom: 0; }
  .company-wrap,
  .info-wrap,
  .category-wrap {
    text-align: center; }
  .subscribe-block {
    padding-top: 0; }
  .subscribe-text-span {
    margin-bottom: 14px; } }

@media only screen and (max-width: 800px) {
  .left-banner {
    display: none; }
  .right-banner {
    width: 100%; } }

@media only screen and (min-width: 802px) and (max-width: 1025px) {
  .subscribe {
    height: 28vh; }
  .reviews {
    height: 28vh; } }

@media only screen and (max-width: 469px) {
  .nav-wrap {
    display: none; }
  .search-panel-wrap {
    padding: 20px 0;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%; }
  .head-card-wrap {
    display: none; }
  .company-wrap,
  .info-wrap,
  .category-wrap {
    display: none; } }

@media only screen and (min-width: 470px) and (max-width: 769px) {
  .header-custom-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    position: relative; }
  .input-search {
    max-width: 300px;
    width: 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .brand-banner-img {
    width: 100%;
    height: 50vh;
    background-size: cover; }
  .shop-wrap {
    margin-bottom: 20px; }
  .black-section-wrap {
    margin-bottom: 40px;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .black-section-left {
    width: 100%;
    height: 36vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .heading-wrap {
    margin-top: 0; }
  .desc-wrap {
    width: auto;
    font-size: 14px;
    line-height: 1; }
  .head-text {
    font-size: 18px;
    margin-bottom: 8px; }
  .desc-text {
    font-size: 12px;
    line-height: 13px; }
  .black-section-right {
    width: 100%;
    height: auto; }
  .desc-sale-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .desc-sale-item {
    padding: 0;
    width: 28%; }
  .desc-sale-wrap:first-child {
    padding-top: 20px; }
  .desc-sale-item:nth-child(1):before,
  .desc-sale-item:nth-child(2):before,
  .desc-sale-item:nth-child(3):before {
    display: none; }
  .subscribe {
    background-size: cover;
    margin-bottom: 0;
    height: 42vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .reviews {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    height: 31vh; }
  .footer-wrap {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around; }
  .foot-text-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    max-width: 100%;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
  .foot-text {
    width: 100%;
    text-align: center;
    padding: 0 14px; } }
