@-webkit-keyframes add-to-card {
  0% {
    left: -100px;
    opacity: 1;
  }
  50% {
    left: 20px;

  }
  75%{
    left: 46px;
  }
  100% {
    left: 66px;

  }
}
@keyframes logo-wrap {
  0% {
    margin-left: -30%;
  }
  50% {
    margin-left: 2%;

  }
  100% {
    margin-left: 0;

  }

}
@keyframes nav-wrap {
  0% {
    right: -30%;
  }
  50% {
    right: -15%;

  }
  75%{
    right: -10%;
  }
  100% {
    right: 0%;

  }

}
.nav-wrap {
  animation: nav-wrap  1s linear both;

}

.logo-wrap {
  animation: logo-wrap 1.5s ease-out both;
}
